@using MyShoppingCart.Models
@model MyShoppingCart.Models.Cart

@{
    ViewBag.Title = "ViewCart";
}

<style>
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 10px;
    }
</style>

<script>
    function increaseAndSubmit(id) {
        id = "q" + id;
        document.getElementById(id).value++;
        form.submit();
    }

    function decreaseAndSubmit(id) {
        id = "q" + id;

        // only decrease quantity if it was bigger than 0
        if (document.getElementById(id).value > 0) {
            document.getElementById(id).value--;
            form.submit();
        }
    }

    function updateAndSubmit(v, id) {
        // prevent any non-digit input
        v = v.replace(/[^0-9]/g, '');
        document.getElementById(id).value = v;
        if (v != null || v != "") {
            var formId = "f" + id;
            var form = document.getElementById(formId);
            form.submit();
        }
    }

    // does not work as expected to delay submitting of form before finish typing quantity
    function e() {

        // Init a timeout variable to be used below
        var timeout = null;

        // Clear the timeout if it has already been set.
        // This will prevent the previous task from executing
        // if it has been less than <MILLISECONDS>
        clearTimeout(timeout);

        // Make a new timeout set to go off in 800ms
        timeout = setTimeout(updateAndSubmit(document.getElementById("q1").value, "q1"), 5000);
    }

</script>

@{
    var sessionId = (string)ViewData["sessionId"];
    var cartList = (List<Cart>)ViewData["cartList"];
    var totalPriceInCart = (decimal)0;
    foreach (var item in cartList)
    {
        totalPriceInCart += item.TotalPrice;
    }
}

@Html.Raw(TempData["msg"])

<p></p>

<b>View Cart</b>
&nbsp;
@Html.ActionLink("Continue Shopping", "ViewGallery", "Gallery", new { sessionId = sessionId }, null)
|&nbsp;
@Html.ActionLink("Checkout", "Checkout", "Purchase", new { sessionId = sessionId }, null)
&nbsp;
<div style="float:right"><b>Total: $@totalPriceInCart</b></div>

<p></p>

@if(cartList.Count==0)
{
    @:<h4>No item in Cart!</h4>
}

<div class="wrapper">

    @foreach (var item in cartList)
    {
        <div></div>

        <div>
            <form id="fq@(item.ProductId)" action="/Cart/ViewCart" method="post">
                <table>
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Images/" + @item.ProductId + ".jpg")" alt="@item.ProductName" height="100" width="100" /><br />
                            @item.ProductName<br />
                            @item.ProductDescription
                        </td>
                        <td>
                            Price: $@item.TotalPrice<br />
                            Quantity: <input type="text" id="q@(item.ProductId)" name="quantity"
                                             value="@item.Quantity" onchange="return updateAndSubmit(this.value, this.id);" />
                            <input type="submit" style="display: none;" />
                            <button type="submit" id="@item.ProductId" onclick="return increaseAndSubmit(this.id);">&#x25B2</button>
                            <button type="submit" id="@item.ProductId" onclick="return decreaseAndSubmit(this.id);">&#x25BC</button>
                            <input type="hidden" name="productId" value="@item.ProductId" />
                        </td>
                    </tr>
                </table>

                <input type="hidden" name="sessionId" value="@sessionId" />
            </form>
        </div>

        <div></div>
    }

</div>



